* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.mainwindow {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100;
    margin: 0;
    padding: 0; 
    flex-direction: column;
    align-items: center;
}

.topside {
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    height: 4em;
    
}

.icon {
    width: 50%;
    align-self: center;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.imglogo {
    height: 3em;
    padding-left: 30%;
}
.hamicon {
    height: 3em;
}

.navigation {
    width: 50%;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.nav {
    background-color: transparent;
    font-family: 'Bebas Neue', cursive;
    border: none;
    outline: none;
    padding: 0.5em 1em;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 200;
    cursor: pointer; 
    outline: none;
    border: none; 
    font-weight: 300; 
}

.phoneview {
    display: none;
}
.logo {
    height: 3.5em;
    padding-left: 180px;
}

.below {
    display: block;
    border-radius: 0;
    align-content: center;
 
    
}

.boxes {
   margin-top: 5em;
   margin-left: 200px;
   margin-right: 200px;
 
    

}

.upper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2em;
}

.lower {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    margin-top: 2em;
}

.mobile {
    display: none;
}

.eggs {
    display: block;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    border-color: black;
    border-width: 2rem;
    border-radius: .3rem .3rem .3rem .3rem!important;
    overflow: hidden;
}

.eggpic {
    display: block;
    width: 100%;
    height: 200px;
    background-image: url(https://cdn-images-1.medium.com/max/1024/1*cM7yY5kyzvtPmAuNn9HUAg.jpeg);
    background-position: center center;
    background-size: cover;
    margin: 1%;
    border: black;
    border-radius: .3rem .3rem 0 0!important;

}

.imgdes {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    overflow: hidden;
}

.imgdespic {
    width: 100%;
    height: 200px;
    background-image: url(https://cdn-images-1.medium.com/max/1024/1*A96kbftJ5TzSwqDaJYatGw.png);
    background-position: center center;
    background-size: cover;
    display: block;
    margin: 1%;
    border: black;
    border-radius: .3rem .3rem 0 0!important;
    
}

.journey {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    overflow: hidden;
}

.journeypic {
    width: 100%;
    height: 200px;
    background-image: url(https://cdn-images-1.medium.com/max/1024/1*nhjs_X32FXtBHjBjDFr3cw.png);
    background-position: center center;
    background-size: cover;
    display: block;
    margin: 1%;
    border: black;
    border-radius: .3rem .3rem 0 0!important;
}

.cms {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    overflow: hidden;
}

.cmspic {
    width: 100%;
    height: 200px;
    background-image: url(https://cdn-images-1.medium.com/max/1024/0*lnVPgiG-45T4tsBW);
    background-position: center center;
    background-size: cover;
    display: block;
    margin: 1%;
    border: black;
    border-radius: .3rem .3rem 0 0!important;
}

.experience {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    overflow: hidden;
}

.experiencepic {
    width: 100%;
    height: 200px;
    background-image: url(https://cdn-images-1.medium.com/max/1024/1*pP6T-eS8bX0ZtXpRTc2vdg.jpeg);
    background-position: center center;
    background-size: cover;
    display: block;
    margin: 1%;
    border: black;
    border-radius: .3rem .3rem 0 0!important;
}

.app {
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    overflow: hidden;
}

.apppic {
    width: 100%;
    height: 200px;
    background-image: url(https://cdn-images-1.medium.com/max/1024/1*2soSYXqsaPzpTZ97FGOsEQ.png);
    background-position: center center;
    background-size: cover;
    display: block;
    margin: 1%;
    border: black;
    border-radius: .3rem .3rem 0 0!important;
}

.content {
    flex-grow: 1;
    border: none;
    border-top: 1px solid rgba(34,36,38,.1);
    background: #fff;
    margin: 0;
    padding: 1em 1em;
    box-shadow: none;
    font-size: 1em;
    border-radius: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    color: black;
    align-content: flex-end;
}

.author {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    min-height: 0!important;;
    flex-grow: 0;
    border-top: 1px solid rgba(0,0,0,.05)!important;
    position: static;
    background: 0 0;
    width: auto;
    margin: 0 0;
    padding: .75em 1em;
    top: 0;
    left: 0;
    color: rgba(0,0,0,.4);
}
.name {
    text-align: left;
    
}

.date {
    text-align: right;
}
.downside {
    width: 100%;
    background-color: #263146;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 0%;
}
.medicon {
    text-align: center;
    width: 100%;
    margin: 2em;
}
.medium {
    width: 1.5em;
}
.foot {
        margin-left: 13em;
        
    }

@media screen and (max-width:768px) {
    .mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .hamburger{
        text-align: right;
        padding-right: 2.5em;
    }

    .boxes {
        display: none;
    }
    
    .phoneview {
        display: block;
    }

    .navigation {
        display: none;
    }

    .icon {
        width: 50%;
        padding-left: 2.5em;
        padding-top: 0em;
    }

    .imglogo {
        padding-left: 0em;
        text-align: left;
    }

}


@media screen and (min-width:768px) {
    .eggs {
        width: calc(33.33333333% - 2em);
    }
    .imgdes {
        width: calc(33.33333333% - 2em);
    }
    .journey {
        width: calc(33.33333333% - 2em);
    }
    .cms {
        width: calc(33.33333333% - 2em);
    }
    .experience {
        width: calc(33.33333333% - 2em);
    }
    .app {
        width: calc(33.33333333% - 2em);
    }

}

